body {
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.header {
    text-align: center;
    background-image: url(images/Background.png);
}




.info {
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.smile {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}